// colors
$background-color: #1d1d1d;
$text-color: #ffffffb0;
$highlight-color: #FFD700;

// dimensions
$menu-width: 80px;
$menu-icon-size: 24px;
$photo-size: 60px;
$blur-radius: 4px;

// timings
$transition-duration: 0.3s;

//
$font-family: "Inter Tight", sans-serif;